<!-- wp:template-part {"slug":"header","theme":"seasons","tagName":"header","className":"site-header"} /-->

<!-- wp:group {"tagName":"main","style":{"spacing":{"padding":{"top":"var:preset|spacing|40","bottom":"var:preset|spacing|40"}}},"layout":{"type":"constrained"}} -->
<main class="wp-block-group" style="padding-top:var(--wp--preset--spacing--40);padding-bottom:var(--wp--preset--spacing--40)"><!-- wp:template-part {"slug":"post-meta-quote","theme":"seasons2"} /-->

<!-- wp:post-content {"align":"wide","layout":{"type":"constrained","contentSize":""}} /-->

<!-- wp:spacer {"height":"40px"} -->
<div style="height:40px" aria-hidden="true" class="wp-block-spacer"></div>
<!-- /wp:spacer -->

<!-- wp:separator -->
<hr class="wp-block-separator has-alpha-channel-opacity"/>
<!-- /wp:separator -->

<!-- wp:template-part {"slug":"comments","theme":"seasons2","area":"uncategorized"} /--></main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","theme":"seasons","tagName":"footer","className":"site-footer"} /-->